<div class="container">
  <h1>My Pokemons</h1>
  <ul *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 8, currentPage: p }">
      <div class=row>
        <div class="column">
          <img src="../assets/img/2.png">
          <div>{{pokemon.id}}</div>
          <div>{{pokemon.name}}</div>
        </div>

        <div class="column">
          <img src="../assets/img/3.png">
          <div>{{pokemon.id}}</div>
          <div>{{pokemon.name}}</div>
        </div>

        <div class="column">
          <img src="../assets/img/4.png">
          <div>{{pokemon.id}}</div>
          <div>{{pokemon.name}}</div>
        </div>

        <div class="column">
          <img src="../assets/img/4.png">
          <div>{{pokemon.id}}</div>
          <div>{{pokemon.name}}</div>
        </div>
      </div>
    <hr>
  </ul>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>