/*PokemonComponent's private CSS styles */
body {
  font-family: Sans-Serif;
}

a {
  cursor: pointer;
  padding: 5px;
  align-content: center;
}

img {
  display: block;
  margin: 0 auto;
}

.disabled {
  color: lightgray;
  cursor: pointer;
}

.enabled {
  color: grey;
  cursor: pointer;

}
.active {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.pokerow {
	align-items: center;
	text-align: center;
}

.id {
  color: rgb(143, 79, 79);
  text-align: center;
}

.pagination {
  padding-top: 5px;
  padding-left:10px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #search-box {
    margin-left: 20px;
    color: rgb(39, 39, 39);
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
 